version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    command: python manage.py runserver 0.0.0.0:8000
    working_dir: /app/src
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env

  celery:
    build: .
    container_name: celery_worker
    command: celery -A cloudtryx_assignment worker --loglevel=info
    working_dir: /app/src
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env

  beat:
    build: .
    container_name: celery_beat
    command: celery -A cloudtryx_assignment beat --loglevel=info
    working_dir: /app/src
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env

  redis:
    image: redis:7
    container_name: redis_broker
    ports:
      - "6379:6379"
